.resume-edit, .resume-preview {
    float: left;
    width: 350px;
    margin: 10px;
    padding: 15px;
    color: gray;
    text-align: left;
    background-color: #F6F6F6;
    border-radius: 5px;
}
.resume-edit textarea {
    display: block;
    margin: 10px 0;
}
.resume-edit input {
    margin-left: 10px;
}
.btn-add {
    font-size: 25px;
}
.btn-add:hover {
    color: black;
}
.btn-save {
    display: inline-block;
    width: 100px;
    margin-left: 12px;
    margin-top: 10px;
    padding: 2px 6px;
    border: solid 1px #248700;
    color: #248700;
    text-align: center;
}
.resume-edit-wrapper {
    position: relative;
}
.btn-remove {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 14px;
    color: #248700;
    padding: 2px 6px;
    border: solid 1px #248700;
    display: inline-block;
}
.tip-remove {
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 14px;
    display: none;
}