body, h2 {
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia;
    background-image: url(http://x.srcdd.com/farm1/b332a0/32cc7140/5D432.png);
    background-repeat: repeat;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    display: block;
    *zoom: 1;
    *clear: both
}
.tip {
    margin-left: 10px;
}