body {
    font-family: Georgia;
    background-repeat: repeat;
}
.sidenav {
    position: absolute;
    width: 150px;
    padding: 0 20px;
}
.title {
    height: 60px;
    padding-top: 50px;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
}
.title-account {
    margin-top: 10px;
}
.wrapper {
    margin-left: 190px;
    padding: 0 20px;
}
.main {
    position: relative;
    display: inline-block;
    width: 660px;
    vertical-align: top;
}
.content {
    padding: 20px 0;
}
.sidebar {
    display: inline-block;
    width: 120px;
    margin-left: 15px;
    vertical-align: top;
}
.top-icon {
    width: 21px;
    height: 21px;
    border: 2px solid #248700;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}
.sidebar .top-icon {
    margin-top: 20px;
    float: right;
}
.footer {
    height: 50px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color: #248700;
}
@media screen and (max-width: 1030px) {
    body {
        background-image: none;
    }
    .sidenav {
        position: relative;
        width: auto;
        padding: 0 20px;
    }
    .wrapper {
        margin-left: 0;
    }
    .main {
        width: auto;
    }
    .main .title {
        display: none;
    }
    .main .footer {
        display: none;
    }
    .sidebar {
        width: 100%;
        margin-left: 0;
    }
    .sidebar .title {
        height: auto;
        padding-top: 20px;
    }
}